:root {
  --url-color: #a9a9a9;
  --bg-img: url(texturebg.png);
}

#picture {
  border-style: solid;
  border-width: 2pt;
  border-color: var(--url-color);
  border-radius: 50%;
  padding: 5pt;
}

#social {
  border-bottom: none; 
  font-size: 80%; 
  vertical-align: text-top;
}

#exe {
  background-color: #f3f3f3;
  padding: 5px 0 1px 0;
}

.notes {
  color: #000000;
}

a {
  color: var(--url-color);
  text-decoration: none;
}

a:hover {
  color: #ffffff !important;
}

.uk-icon-button {
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #eeeeee;
  line-height: 34px;
  color: #444444;
  text-align: center;
}

.references {
  font-size: 12px;
}

ul {
  list-style: disc;
}

ol pre, ul pre {
  margin-left: -2em;
}

ol pre {
  margin-left: -2.2em;
}

ul li ul pre {
  margin-left: -2em;
}

pre {
  font-family: 'Source Code Pro', 'Courier New', monospace;
  font-size: 20px;
  line-height: 28px;
  padding: 10px 10px 10px 60px;
  letter-spacing: -1px;
  margin-bottom: 5px;
  width: 840px;
  left: -60px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fafafa;
}

.prettyprint {
  background-color: #e6e6e6;
  width: 840px;
  left: -60px;
  position: relative;
}

code {
  font-size: 95%;
  font-family: 'Source Code Pro', 'Courier New', monospace;
  background-color: #e6e6e6;
  color: #515151;
  padding: 2px;
}

table thead th {
  color: #ffffff;
  font-size: 85%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #666666), color-stop(80%, #333333)) no-repeat;
  background: -webkit-linear-gradient(top, #666666 40%, #333333 80%) no-repeat;
  background: -moz-linear-gradient(top, #666666 40%, #333333 80%) no-repeat;
  background: -o-linear-gradient(top, #666666 40%, #333333 80%) no-repeat;
  background: linear-gradient(top, #666666 40%, #333333 80%) no-repeat;
}

table tbody {
   font-size: 75%;
}

aside.gdbar {
  height: 97px;
  width: 215px;
  position: absolute;
  left: -1px;
  top: 75px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #333333), color-stop(100%, #333333)) no-repeat;
  background: -webkit-linear-gradient(left, #333333, #333333) no-repeat;
  background: -moz-linear-gradient(left, #333333, #333333) no-repeat;
  background: -o-linear-gradient(left, #333333, #333333) no-repeat;
  background: linear-gradient(left, #333333, #333333) no-repeat;
  -webkit-background-size: 0% 100%;
  -moz-background-size: 0% 100%;
  -o-background-size: 0% 100%;
  background-size: 0% 100%;
  -webkit-transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition: all 0.5s ease-out 0.5s;
  -o-transition: all 0.5s ease-out 0.5s;
  transition: all 0.5s ease-out 0.5s;
  /* Better to transition only on background-size, but not sure how to do that with the mixin. */
  background-image: var(--bg-img);
}

.gdbar {
  width: 325px !important;
  height: 70px !important;
}

.gdbar img {
  width: 305px !important;
  height: 50px !important;
  margin: 10px;
}

.auto-fadein h2 {
  text-align: center;
}

.auto-fadein h3 {
  text-align: center;
}

.segue h3 {
  color: #e6e6e6;
  line-height: 1.5;
  margin-top: 1.25em;
}

.segue hgroup {
  bottom: 225px;
  position: relative; 
  top: 100px;
}

.title-slide hgroup {
  text-align: center;
  bottom: 100px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.title-slide hgroup h1 {
  color: #ffffff;
  border-radius: 10px 10px 0px 0px;
  background-image: var(--bg-img);
}

.title-slide hgroup h2 {
  border-radius: 0px 0px 10px 10px;
  background-image: var(--bg-img);
}

slide img {
  max-width: 768px;
  max-height: 460px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

slides > slide {
  z-index: 1;
  background-image: var(--bg-img);
  background-position: 0 100%;
  background-repeat: repeat-x;
}

slides > slide.dark {
  background-image: var(--bg-img) !important;
}

slides > slide:not(.nobackground):before {
  background-size: 305px 50px;
  height: 50px;
  width: 305px;
  bottom: 5px;
}

slides > slide:not(.nobackground):after {
  color: #ffffff;
  bottom: 12px;
}

article.smaller pre {
  font-size: 12px;
}

slides > slide > hgroup + article {
  margin-top: 20px;
}
