.glow {
  /*font-size: 80px;*/
  /*color: #fff;*/
  /*text-align: center;*/
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    /*text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1b81e5, 0 0 40px #1b81e5, 0 0 50px #1b81e5, 0 0 60px #1b81e5, 0 0 70px #1b81e5;*/
  }
  to {
    text-shadow: 0 0 20px #a9a9a9, 0 0 30px #a9a9a9, 0 0 40px #a9a9a9, 0 0 50px #a9a9a9;
  }
}


.glowpic {
  /*font-size: 80px;*/
  /*color: #fff;*/
  /*text-align: center;*/
  -webkit-animation: glowpic 2s ease-in-out infinite alternate;
  -moz-animation: glowpic 2s ease-in-out infinite alternate;
  animation: glowpic 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glowpic {
  from {
    /*text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1b81e5, 0 0 40px #1b81e5, 0 0 50px #1b81e5, 0 0 60px #1b81e5, 0 0 70px #1b81e5;*/
  }
  to {
    box-shadow: 0 0 20px #a9a9a9, 0 0 30px #a9a9a9, 0 0 40px #a9a9a9, 0 0 50px #a9a9a9;
  }
}
